.field {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    label {
      width: 90px;
      word-wrap: break-word;
    }
    .input {
      width: 300px;
      border: 1px solid black;
      border-radius: 2px;
      padding: 5px;
      max-height: 25px;
    }
  }